body {
    display: grid;
    grid-template-rows: max-content 50px min-content 10px  min-content 10px  min-content;
    grid-template-columns: .2fr 1fr;
}

.elan-code {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 2;
}

#file-select {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

#upload {
    grid-row: 5;
    grid-column: 1;
}

#download {
    grid-row: 7;
    grid-column: 1;
}