:root {
    --ideDefaultBackground: rgb(68, 114, 196);
    --idePanelBackground: white;
    --ideDefaultText: black;
    --ideReverseText: white;;
    --ideTitleFont: Segoe UI, Open Sans, Verdana, Arial, Helvetica, sans-serif
}

body {
    background-color: var(--ideDefaultBackground);
    display: grid;
    grid-template-columns: repeat(48, 1fr);
    grid-template-rows: repeat(36, 1fr);
    grid-gap: 0px;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 15px;
    margin: 0;
  }
  #code-title, #console-title {
    background-color: var(--ideDefaultBackground);
    color: var(--ideReverseText);
    font-family: var(--ideTitleFont);
    font-size: 12pt;
  }
  #code-title, #console-title {
    grid-row: 1;
  }
  #code-title, .elan-code{
    grid-column: 1 / 24;
}
  #console-title, #console {
    grid-column: 25 / 48;
  }
  .elan-code, #console {
    grid-row: 2/34;
    padding: 5px;
  }
 #code-controls, #console-controls {
    grid-row: 34;
    background-color: var(--ideDefaultBackground);
  }
  #code-controls {
    grid-column: 1/24;
  }
  #console-controls {
    grid-column: 25/48;
  }

button, button:hover, button:active, button:focus  {
    background-color: var(--idePanelBackground);
    border: none;
    outline:none;
    height: 20px;
    margin-top: 5px;
}

button:hover, button:active {
    background-color: lightblue;
}

#console {
  overflow-y: auto;
}
