:root {
    --ideDefaultBackground: rgb(68, 114, 196);
    --idePanelBackground: white;
    --ideDefaultText: black;
    --ideReverseText: white;;
    --ideTitleFont: Segoe UI, Open Sans, Verdana, Arial, Helvetica, sans-serif
}

body {
    background-color: var(--ideDefaultBackground);
    display: grid;
    grid-template-columns: repeat(48, 1fr);
    grid-template-rows: repeat(36, 1fr);
    grid-gap: 0px;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    height: 100vh;
    width: 100%;
    padding: 15px;
    gap: 15px;
  }
  .code-title, .console-title, .evaluator-title {
    background-color: var(--ideDefaultBackground);
    color: var(--ideReverseText);
    font-family: var(--ideTtleFont);
    font-size: 14pt;
  }
  .code-title, .console-title {
    grid-row: 1;
  }
  .code-title, .elan-code, .controls {
    grid-column: 1 / 24;
}
  .console-title, .console, .evaluator-title, .evaluator {
    grid-column: 24 / 48;
  }
  .elan-code, .console, .elan-code {
    grid-row: 2/32;
    padding: 2px;
  }
  .evaluator-title {
    grid-row: 32;
  }
  .controls, .evaluator {
    grid-row: 33;
  }



  .controls {
    background-color: var(--ideDefaultBackground);
  }

  .evaluator {
    background-color: var(--idePanelBackground);
  }

button, button:hover, button:active, button:focus  {
    background-color: var(--idePanelBackground);
    border-right: 15px;
    outline:none;
    padding: 5px;
}

button:hover, button:active, button:focus {
    background-color: lightblue;
}

.controls img {
    border: none;
    width: 20px;
    height: 20px;
}