:root {
    --ideDefaultBackground: rgb(68, 114, 196);
    --idePanelBackground: white;
    --ideDefaultText: black;
    --ideReverseText: white;;
    --ideTitleFont: Segoe UI, Open Sans, Verdana, Arial, Helvetica, sans-serif
}

body {
    background-color: var(--ideDefaultBackground);
    display: grid;
    grid-template-columns: repeat(48, 1fr);
    grid-template-rows: repeat(36, 1fr);
    grid-gap: 0px;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 15px;
    margin: 0;
  }
  #code-title, #console-title, #graphics-title, #status-title, #status .row {
    background-color: var(--ideDefaultBackground);
    color: var(--ideReverseText);
    font-family: var(--ideTitleFont);
    font-size: 12pt;
  }
  #code-title {
    grid-row: 1;
    grid-column: 1 / 24;
    margin-left: 10px;
}
#console-title {
  grid-row: 1;
  grid-column: 25 / 48;
  }

.elan-code{
  grid-column: 1 / 24;
  grid-row: 2/36; 
  padding: 5px;
  margin-left: 10px;
}

  #console {
    grid-column: 25 / 48;
    grid-row: 2/17;
    white-space: pre;
    padding: 5px;
  }
  #status-title {
    grid-column: 25 / 31;
    grid-row: 18;
  }
  #status-names {
    grid-column: 25 / 27;
    grid-row: 19 / 35;
    background-color: var(--ideDefaultBackground);
    color: var(--ideDefaultText);
  }
  #status-values {
    grid-column: 27 / 31;
    grid-row: 19 / 35;
    margin-left: 20px;
    background-color: var(--ideDefaultBackground);
  }
  #status-names div {
    background-color: var(--ideDefaultBackground);
    color: var(--ideReverseText);
    font-family: var(--ideTitleFont);
  }
  #status-names div, #status-values div{
    margin-bottom: 20px;
  }
  #status-values div {
    font-family: var(--ideTitleFont);
    text-align: center;
    background-color: var(--ideDefaultBackground);
    height:20px;
  }
  #status-values .ok {
    background-color: var(--ok);
  }
  #status-values .warning {
    background-color: var(--warning);
  }
  #status-values .error {
    background-color: var(--error);
  }

  #graphics-title {
    grid-column: 32 / 48;
    grid-row: 18;
    }
  #graphics {
    /* position pane within outer grid */
    grid-column: 32 / 48;
    grid-row: 19/36;
    background-color: var(--idePanelBackground);
    overflow: hidden;
    margin: 0;
    }

 #code-controls, #run-controls {
    grid-column: 25/31;
    background-color: var(--ideDefaultBackground);
  }
  #run-controls {
    grid-row: 30;;
  }
  #code-controls {
    grid-row: 35;
  }


button, button:hover, button:active, button:focus  {
    background-color: var(--idePanelBackground);
    border: none;
    outline:none;
    height: 20px;
    margin-top: 5px;
}

button:hover, button:active {
    background-color: lightblue;
}

#console, .elan-code {
  overflow-y: auto;
}
