obj/
bin/
out/
dist/
*.vsidx
*.vsix
*.v2
*.testlog
*.manifest
*.bin
Editor_POC/Frames/.vs/Frames/v17/.suo
Editor_POC/Frames/.vs/Parts/v17/.suo
node_modules
.vscode-test/
.elanCompiler/
.elanLanguageServer/
coverage
.nyc_output
web-editor/elan-api.js
web-editor/documentation/
web-editor/demo/
web-editor/standalone.js
src/environment.ts
web-editor/*.css
documentation/*.css
