obj/
bin/
out/
dist/
*.vsidx
*.vsix
*.v2
*.testlog
*.manifest
*.bin
Editor_POC/Frames/.vs/Frames/v17/.suo
Editor_POC/Frames/.vs/Parts/v17/.suo
node_modules
.vscode-test/
.elanCompiler/
.elanLanguageServer/
coverage
.nyc_output
src/environment.ts
src/documentation/*.css

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
src/documentation/worksheets/wordle/wordle_1.html
src/documentation/worksheets/wordle/wordle_2.html
src/documentation/worksheets/wordle/wordle_3.html
src/documentation/worksheets/worksheet-test-only.html
src/documentation/worksheets/merge-sort/merge-sort.html
