* {
    font-family: monospace;
    background-color: white;
    border-color: white;
}

span {
    background-color: inherit;
}

keyword {
    color: blue;
}

comment {
    color: green;
}

.string {
    color: rgb(165, 2, 2);
}

statement {
    display: block;
    background-color: white;
    border-left-style: solid;
    border-left-width: 2ch;
}

statement {
    display: block;
}

global {
    display: block;
    margin-bottom: 1ch;
}

.selected > * , .selected clause *{
    border-left-color: rgb(174, 216, 250);
}

.selected > :not(statement) {
    background-color: rgb(174, 216, 250);
    border-right-color: rgb(174, 216, 250);
}

text.selected {
    background-color: rgb(174, 216, 250);
}
text.empty {
      color: rgb(196, 193, 193);
}
text.incomplete {
    color:rgb(223, 145, 0);
}
text.invalid {
    color:red;
}
text.valid {
  color:rgb(0, 187, 0);
}
