* {
    font-family: monospace;
    color: black;
    background-color: white;
    border-color:white;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

span {
    background-color: inherit;
}

keyword {
    color: blue;
}

comment {
    color: green;
}

.string {
    color: rgb(165, 2, 2);
}

keyword {
    border-right-width: 1ch;
    border-right-style: solid;
}

statement {
    display: block;
    background-color: white;
    border-left-style: solid;
    border-style:solid;
    border-width: 1px;
    border-left-width: 2ch;
}

statement {
    display: block;
}

global {
    display: block;
    margin-bottom: 1ch;
}

.selected > * {
    border-left-color: rgb(174, 216, 250);
}

.selected > :not(statement) {
    background-color: rgb(174, 216, 250);
    border-right-color: rgb(174, 216, 250);
}

textEntry.selected {
    border-style: solid ;
    border-color: black;
}
textEntry.empty {
      color: rgb(196, 193, 193);
}
textEntry.incomplete {
    color:rgb(223, 145, 0);
}
textEntry.invalid {
    color:red;
}
textEntry.selected.empty {
    border-color: grey;
}
textEntry.selected.valid {
  border-color: rgb(3, 212, 3);
  color:rgb(3, 212, 3);
}
textEntry.selected.incomplete {
  border-color: rgb(223, 145, 0);
}
textEntry.selected.invalid {
  border-color: red;
}