label {
    float:left;
}

.step, 
.step *,
.step + input {
    visibility: hidden;
}

.step + input {
    float: left;
    margin-left: 1em;
}

#auto-save.saved {
    display: none;
}

#auto-save.saved + .step, 
#auto-save.saved + .step *,
#auto-save.saved + .step +  input {
    visibility: visible;
}

#auto-save.saved ~ .step.complete, 
#auto-save.saved ~ .step.complete *,
#auto-save.saved ~ .step.complete + input,
#auto-save.saved ~ .step.complete + input + .step,
#auto-save.saved ~ .step.complete + input + .step *,
#auto-save.saved ~ .step.complete + input + .step + input
{
    visibility: visible;
}

.license, .license img {
    display: block;
}

