/* Initially, everything hidden except the Save button and message */

    .docTitle *,
    #auto-save,
    #auto-save + span
    {
        display: block;
    }

/* After saving ... */
    #worksheet.saved #auto-save,
    #worksheet.saved #auto-save + span
    {
        display: none;
    }


/* Steps */
    /* step0 (preliminaries) only */
    #step0.complete {
        display: none;
    }
    #worksheet.saved #userName{
        display: block;
    }

    /* By default, invisible */
    .step {
        display: none;
    }
    /* Show complete & active steps, when worksheet is saved */
    #worksheet.saved .step.complete,
    #worksheet.saved .step.active {
        display: block;
    }
    /* When step is complete hide the completion label */
    .step.complete label.done {
        display: none;
    }

/* Hints */
    /* Hide hints by default */
    .hint, .hint *
    {
        display: none;
    }

    /* First hint of active step will be shown */
    #worksheet.saved .step.active .hint:first-child
    {
        display: block;
    }

    /* When a hint is taken...*/
    /* Display the contents */
    .hint.taken + .content
    {
        display: block;
        visibility: visible;
    }
    /* ...and display the NEXT Hint */
    .hint.taken + content + .hint
    {
        display: block;
    }

/*Styling only */
.done {
    color: rgb(15, 71, 97);
    font-weight: bold;
}

.timestamp {
    margin-left: 5px;
    font-size: 8pt;
}

.license, .license img {
    font-size: 8pt;
    margin-top: 1em;
}

.step textarea {
    width: 100%;
}