/* Initially, all steps hidden - just title & auto-save visible */
    .step, 
    .step *,
    .step + input {
        visibility: hidden;
    }

/* After saving ... */
    #auto-save.saved {
        display: none;
    }
    /* ... show first step & its checkbox */
    #auto-save.saved + .step, 
    #auto-save.saved + .step *,
    #auto-save.saved + .step +  input {
        visibility: visible;
    }

/* When a step is complete, show the next one  through to its input...*/
    #auto-save.saved ~ .step.complete, 
    #auto-save.saved ~ .step.complete *,
    #auto-save.saved ~ .step.complete + input,
    #auto-save.saved ~ .step.complete + input + .timestamp + .step,
    #auto-save.saved ~ .step.complete + input + .timestamp + .step *,
    #auto-save.saved ~ .step.complete + input + .timestamp + .step + input
    {
        visibility: visible;
    }
    /* ...and hide the completion label */
    .step.complete label.done {
        display: none;
    }

/* Hints */
    /* Hide hints by default */
    .hint, .hint *
    {
        display: none;
    }

    /* After saving, first hint of 1st step, or first hint of step after completed step will be shown, including label */
     #auto-save.saved + .step .hint:first-child,
     #auto-save.saved ~ .step.complete + input + .timestamp + .step .hint:first-child {
        display: block;
        visibility: visible;
     }
     #auto-save.saved + .step .hint:first-child span.show,
     #auto-save.saved ~ .step.complete + input + .timestamp + .step .hint:first-child span.show {
        display: inline;
        visibility: visible;
     }

    /* By default hide any follow-on hints until a hint is taken - to enforce progression */
    .hint + hint {
        display: none;
    }
    #auto-save.saved ~ .step.complete + input + .timestamp + .step .hint * {
        display: none;
    }

    /* When a hint is taken...*/
        /* Display all its contents */
        .hint.taken *
        {
            display: block;
            visibility: visible;
        }
        /* Display the NEXT Hint ... */
        .hint.taken +.hint
         {
            display: block;
            visibility: visible;
        }
        /* ... and its label */
        .hint.taken + .hint + span.show
        {
            display: inline;
            visibility: visible;
        }


/*Styling only */
.done {
    color: rgb(15, 71, 97);
    font-weight: bold;
}

.timestamp {
    margin-left: 5px;
    font-size: 8pt;
}

.license, .license img {
    font-size: 8pt;
    margin-top: 1em;
}

.step textarea {
    width: 100%;
}