:root {
    --ideDefaultBackground: rgb(68, 114, 196);
    --idePanelBackground: white;
    --ideDefaultText: black;
    --ideReverseText: white;
    --ideTitleFont: Segoe UI, Open Sans, Verdana, Arial, Helvetica, sans-serif;
    --ideTitleSize: 12pt;
}

body {
    background-color: var(--ideDefaultBackground);
    display: grid;
    grid-template-columns: repeat(48, 1fr);
    grid-template-rows: repeat(36, 1fr);
    grid-gap: 0px;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 10px;
    margin: 0;
  }
  #code-title, #console-title, #graphics-title, #status .row {
    background-color: var(--ideDefaultBackground);
    color: var(--ideReverseText);
    font-family: var(--ideTitleFont);
    font-size: var(--ideTitleSize);
  }
  #graphics div {
    font-size: 10pt;
    text-align: center;
  }
  #code-title {
    grid-row: 1;
    grid-column: 14 / 26;
    margin-left: 10px;
}
#console-title {
  grid-row: 5;
  grid-column: 29 / 48;
  }

.elan-code{
  grid-column: 1 / 26;
  grid-row: 2/36; 
  padding: 5px;
  margin-left: 10px;
  position: relative;
}

#logo {
  grid-row: 1/4;
  grid-column: 44 / 48;
  width: 100%;
}
  #console {
    grid-column: 27 / 48;
    grid-row: 6/17;
    white-space: pre;
    padding: 5px;
  }
  #status-names {
    grid-column: 35 / 36;
    grid-row: 1/5;
    background-color: var(--ideDefaultBackground);
    color: var(--ideDefaultText);
  }
  #status-values {
    grid-column: 36 / 40;
    grid-row: 1/5;
    margin-left: 20px;
    background-color: var(--ideDefaultBackground);
  }
  #status-names div {
    background-color: var(--ideDefaultBackground);
    color: var(--ideReverseText);
    font-family: var(--ideTitleFont);
    margin-bottom: 10px;
  }
  #status-values div {
    font-family: var(--ideTitleFont);
    text-align: center;
    background-color: var(--ideDefaultBackground);
    height:20px;
    margin-bottom: 10px;
  }
  #status-values .ok {
    background-color: var(--ok);
  }
  #status-values .warning {
    background-color: var(--warning);
  }
  #status-values .error {
    background-color: var(--error);
  }

  #graphics-title {
    grid-column: 29 / 48;
    grid-row: 18;
    }
  #graphics {
    /* position pane within outer grid */
    grid-column: 27 / 48;
    grid-row: 19/36;
    background-color: var(--idePanelBackground);
    overflow: hidden;
    margin: 0;
    height: 100%;
    aspect-ratio: 4/3;
  /* Define it as a sub-grid within the overall grid */
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-template-rows: repeat(30, 1fr);
}
 #code-controls {
    grid-row: 1;
    grid-column: 1/13;
    background-color: var(--ideDefaultBackground);
    margin-left: 10px;
  }
  #run-controls {
    grid-row: 2/3;
    grid-column: 27/31
    ;
    background-color: var(--ideDefaultBackground);
  }

/* Buttons */
button:disabled {
  opacity: 0.5;
} 

button.icon, button.icon img{
  padding: 0px;
  border: 2px;
  border-style: solid;
  border-color: var(--ideDefaultBackground);
}

button.icon img {
  height: 40px;
}

button.icon, #help {
  height: 47px;
}

button.icon:hover, button.icon:active, button.icon:focus {
  border-color: white;
}

button.plain, button.plain:hover, button.plain:active, button.plain:focus, #help  {
    background-color: var(--idePanelBackground);
    border: none;
    outline:none;
    height: 22px;
    font-family: var(--ideTitleFont);
    font-size: var(--ideTitleSize);
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
    color: black; /* To prevent the help a-link being coloured mauve when visited*/
}

button.plain:hover, button.plain:active, #help:hover {
    background-color: lightblue;
}

#console, .elan-code {
  overflow-y: auto;
}

button#clear-console {
  grid-row: 5;
  grid-column: 27 / 28;
}
button#clear-graphics {
  grid-row: 18;
  grid-column: 27 / 28;
}
button#expand-collapse {
  grid-row: 1;
  grid-column: 23;
}

.autocomplete-popup {
  visibility: visible;
  width: fit-content;
  background-color: lightgrey;
  position: absolute;
  z-index: 1;
  height: fit-content;
  display: inline-block;
  margin-top: 17px;
  margin-left: -1px;
  padding: 2px;
  border: solid 1px;
}

.autocomplete-item {
  color: black;
  background-color: lightgrey;
  text-align: left;
  padding-left: 1px;
}

.autocomplete-item.selected {
  color: white;
  background-color: var(--help);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white
}

.demo-file {
  font-family: var(--ideTitleFont);
}

.demo-file:hover, demo-file:active {
  background-color: var(--ideDefaultBackground);
  color: white;
}

.dropdown-content {
  border: black 1px solid;
  width: 282px;  /* width of button bar */
}

