:root {
  --ideDefaultBackground: rgb(68, 114, 196);
  --idePanelBackground: white;
  --ideDefaultText: black;
  --ideReverseText: white;
  --ideTitleFont: Segoe UI, Open Sans, Verdana, Arial, Helvetica, sans-serif;
  --ideTitleSize: 12pt;
}

#system-info,
#printed-text,
#printed-text input {
  color: var(--defaultText);
  border-color: var(--defaultBackground);
  font-style: normal;
  font-family: consolas, monospace;
  font-size: 11pt;
}
#code-title,
#system-info-title,
#display-title,
#status {
  background-color: var(--ideDefaultBackground);
  color: var(--ideReverseText);
  font-family: var(--ideTitleFont);
  font-size: var(--ideTitleSize);
}

body {
  background-color: var(--ideDefaultBackground);
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#lhs {
  width: 55%;
  flex-grow: 0;
  margin-left: 10px;
  margin-right: 5px;
}

#rhs {
  width: 45%;
  flex-grow: 0;
  margin-left: 5px;
  margin-right: 10px;
}

#lhs,
#rhs {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}



#centre-bar {
  cursor: col-resize;
  flex-basis: 20px;
}
#centre-bar:hover, #centre-bar:active {
 background-color: darkblue;
}

#code-controls {
  display: flex;
  flex-direction: row;
  background-color: var(--ideDefaultBackground);
}

#code-title {
  display: inline;
}

.elan-code {
  flex-basis: auto;
  flex-grow: 1;
  padding: 5px;
  position: relative;
  overflow-y: auto;
}

#rh-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#rh-header-l {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


#run-controls, #code-controls {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: var(--ideDefaultBackground);
}

#display-title, #system-info-title {
  align-self: bottom;
  display: flex;
  flex-direction: row;
}

#printed-text {
  white-space: pre;
}

#status {
  display: flex;
  flex-direction: row;
}

#status-names, #status-values {
  display: flex;
  flex-direction: column;
}

#status-values {
  margin-left: 10px;
}
#status-values div{
  width: 100px;
  color: var(--defaultText);
}

#rh-footer {
  display: flex;
  flex-direction: column;
}

#status span {
  margin-right:10px;
}

#status-names div {
  background-color: var(--ideDefaultBackground);
  color: var(--ideReverseText);
  font-family: var(--ideTitleFont);
  margin-bottom: 5px;
}

#status-values div {
  font-family: var(--ideTitleFont);
  text-align: center;
  background-color: var(--ideDefaultBackground);
  height: 20px;
  margin-bottom: 5px;
}

#status-values .ok,
#status-values .running {
  background-color: var(--ok);
}

#status-values .warning,
#status-values .paused {
  background-color: var(--warning);
}

#status-values .error {
  background-color: var(--error);
}

#rh-footer {
  flex: 1;
  overflow-y: auto;
}

#system-info {
  flex-grow: 1;
  background-color: var(--defaultBackground);
  white-space: pre-wrap;
  overflow-wrap:anywhere;
  padding: 5px;
  overflow-y: auto;
  overflow-x: auto;
}

#display {
  background-color: var(--idePanelBackground);
  overflow: hidden;
  margin-bottom: 10px;
  aspect-ratio: 4/3;
  position: relative;
  flex-shrink: 0;
}

#block-graphics,
#vector-graphics,
#printed-text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#vector-graphics {
  z-index: 10;
}

#printed-text {
  z-index: 20;
}

#block-graphics {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(30, 1fr);
}

#block-graphics div {
  container: block / size;
  font-size: 0.7cqw;
  text-align: center;
}

/* Buttons */
button {
  margin-right: 5px;
}
button.icon,
button.icon img {
  padding: 0px;
  border: 2px;
  border-style: solid;
  border-color: var(--ideDefaultBackground);
  background-color: var(--ideDefaultBackground);
}

button.icon img {
  height: 40px;
}

button.icon:enabled img:hover,
button:enabled.icon:focus,
button.icon:active,
button.icon:focus {
  border-color: white;
  opacity: 100%;
}

button.icon:disabled img {
  opacity: 50%;
}

button.plain,
button.plain:hover,
button.plain:active,
button.plain:focus {
  background-color: var(--idePanelBackground);
  border: none;
  outline: none;
  height: 22px;
  font-family: var(--ideTitleFont);
  font-size: var(--ideTitleSize);
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 5px;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  color: black;
  /* To prevent the help a-link being coloured mauve when visited*/
}

button.plain:hover:enabled,
button.plain:active,
button.plain:focus {
  text-decoration: underline;
}

button.plain:disabled, menu-item.button.plain:disabled {
  color: grey;
}

.dropdown-content button.plain,
.dropdown-content button.plain:hover,
.dropdown-content button.plain:active,
.dropdown-content button.plain:focus
{
 display:block;
 padding-left: 0px;
 margin-bottom: 0px;
}

.dropdown-content button.plain:hover,
.dropdown-content button.plain:active,
.dropdown-content button.plain:focus {
  background-color: var(--ideDefaultBackground);
  color: white;
  text-decoration: none;
}

.dropdown-content button.plain:disabled:hover,
.dropdown-content button.plain:disabled:active,
.dropdown-content button.plain:disabled:focus
 {
  background-color: white;
  color: grey;
  text-decoration: none;
}

.autocomplete-popup,
.context-menu {
  visibility: visible;
  width: fit-content;
  background-color: lightgrey;
  position: absolute;
  z-index: 1;
  height: fit-content;
  display: inline-block;
  margin-top: 17px;
  margin-left: -1px;
  padding: 2px;
  border: solid 1px;
}

.autocomplete-popup>div,
.context-menu>div {
  color: black;
  background-color: lightgrey;
  text-align: left;
  padding-left: 1px;
}

.context-menu * {
  font-family: var(--ideTitleFont);
}

.selected el-top .context-menu {
  background-color: lightgrey;
  border-right-color: black;
}

.autocomplete-popup>div.selected,
.autocomplete-popup>div:hover,
.context-menu>div.selected,
.context-menu>div:hover {
  color: white;
  background-color: var(--help);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  border: black 1px solid;
  width: 282px;
  /* width of button bar */
  padding-left: 5px;
  padding-right: 5px;
}



.menu-item:hover, button.menu-item:hover
.menu-item:active, button.menu-item:active
.menu-item:hover a,  button.menu-item:hover a
.menu-item:active a, button.menu-item:active a
{
  background-color: var(--ideDefaultBackground);
  color: white;
  text-decoration: none;
}

.menu-item,
#help {
  font-family: var(--ideTitleFont);
}

.elan-code:not( :focus-within),
#display:not( :focus-within),
#system-info:not( :focus-within) {
  opacity: 0.75;
}

#printed-text {
  padding: 2px;
  overflow-y: auto;
}

#printed-text input:focus {
  background-color: var(--selection);
  width: 100%;
}