* {
    font-family: monospace;
    color: black;
    background-color: white;
    border-color:white;
}

keyword {
    color: blue;
}

.prompt {
    color: grey;
}

identifier, keyword, expression {
    border-right-width: 1ch;
    border-right-style: solid;
}

statementBlock {
    display: block;
    border-left-style: solid;
    border-left-width: 2ch;
}

global, statement {
    display: block;
}

global {
    margin-bottom: 1ch;
}
.selected > statementBlock {
    border-color: orange;
}

identifier.selected, expression.selected,.selected > * {
    background-color: orange;
    border-color: orange;
}

input {
    border: none;
}

input:focus {
    outline: none;
}
