:root {
    --selection:rgb(173, 214, 255);
    /* --unused: rgb(175,0,219); */
}
code { 
    padding: 0px;
}

* {
    color: black;
    font-family: consolas;
    font-size: 11pt;
    background-color: white;
    border-color: white;
}



/* Basic Colour scheme */
span {
    background-color: inherit;
}

keyword {
    color: rgb(56,0,255);
}

type {
    color: rgb(38,127,153
    );
}

comment, header {
    color: green;
}

.string {
    color: rgb(165, 2, 2);
}

/* Horizontal and vertical layout */
statement, constructor, property, classDef > function, classDef > procedure, classDef > member {
    display: block;
    background-color: white;
    border-left-style: solid;
    border-left-width: 2ch;
}

header, constant, main, procedure, function, enum, classDef, constructor, property, member, global {
    display: block;
    margin-bottom: 1ch;
}

/* Frame selection */
.selected > * , .selected > clause *{
    border-left-color: var(--selection);
}

.selected > clause *, .selected > top, .selected > top *, .selected > keyword, .selected > text, .selected > text * {
    background-color: var(--selection);
    border-right-color: var(--selection);
}

text.selected, text.selected * {
    background-color: rgb(146, 236, 146);
}

/* Text entry validation */
text.empty, type.empty {
      color: rgb(196, 193, 193);
}
text.incomplete {
    color:rgb(223, 145, 0);
}
text.invalid, type.invalid {
    color:red;
}
text.valid, type.valid {
  color:rgb(0, 187, 0);
}

/* Collapse / Expand */
expand {
    display: none;
}

.multiline.collapsed expand {
    display:inline;
    font-weight: bold;
    color: white;
    background-color:rgb(101, 176, 250);
    margin-right: 1ch;
    cursor: pointer;
}

.multiline.collapsed > :not(top)
{
    display: none;
}