:root {
    /* IDE */
    --ideBackground: rgb(68, 114, 196);
    --panelBackground: white;
    --paleTint: rgb(208, 220, 240);
    --defaultButton: rgb(171,191, 228);
    --disabledButton:rgb(102, 139, 205);

    /* Text colours - to work on white or the --selection background */
    --defaultText: black;
    --reverseText: white;

    /* Code colours */
    --keyword: rgb(56,0,255);
    --method: #999933;
    --type:  #44aa99;
    --string:  #882255;
    --comment: #173;
    --namedValue: #aa4499;

    /* Code Highlights */
    --selection:#88ccee; /* All text colours */
    --ok: #009988; /* Black text */
    --advisory: #ee7733; /* Both black and white text*/
    --warning: #ee7733; /* Both black and white text*/
    --error:  #ee3377; /* Black text */
    --optional:  #bbbbbb; /* White text */
    /* Acknowledgment: https://cran.r-project.org/web/packages/khroma/vignettes/tol.html#qualitative-data */
}
