* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
p { margin-top:0; margin-bottom:0; line-height:inherit; }


h1,h2,h3,h4
   { color: var(--docHeading); margin-top:0; margin-bottom:0; line-height:inherit; font-size:inherit; font-weight:inherit; }
h1 { font-size:20pt; font-weight:bold; text-indent:0pt; margin-top:20pt; margin-bottom:4pt; background-color:var(--docHeadingBG); }
h2 { font-size:16pt; font-weight:bold; text-indent:0pt; margin-top:16pt; margin-bottom:4pt;  border-style:solid none none none; }
h3 { font-size:14pt; font-weight:bold; text-indent:0pt; margin-top:14pt; margin-bottom:4pt; }
h4 { font-size:12pt; font-weight:bold; text-indent:0pt; margin-top:6pt; margin-bottom:4pt; }
h5 { font-size:10pt; font-weight:bold; text-indent:0pt; margin-top:0pt; margin-bottom:4pt; }

body { font-size:10pt; margin-left:5px; text-decoration:none; font-weight:normal; font-style:normal; text-transform:none; color:black; text-align:left; line-height:1.33; }
.bold {
  font-weight: bold;
}
p,img,pre,blockquote,address,td,th,li,ul
  { font-size:10pt; text-indent:0pt; margin-top:4pt; margin-bottom:4pt; line-height:1.3; }

/* show sort direction icons in the sortable column headings */
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {content: " \25B4\25BE"}

.tableIndex td:first-child { text-align:right; }
.tableColours td { font-family:monospace; text-align:right; }
.tableMethod th, td { padding-left:5px; padding-right:5px; }
.tableProperty th, td { padding-left:5px; padding-right:5px; }
.tableStructure th, td { padding-left:5px; padding-right:5px; }
.tableType th, td { padding-left:5px; padding-right:5px; }
.tableMenu th, td { padding-left:5px; padding-right:5px; }

table
 th, th * {color: white; background-color: var(--docHeading);}
 th { text-align:center; margin-top:4pt; margin-bottom:4pt; padding-left: 5px; padding-right: 5px; }
 tr { text-align:left; margin-top:4pt; margin-bottom:4pt; }
 tr:nth-child(even) td { background-color: var(--docTable0); }
 tr:nth-child(odd)  td { background-color: var(--docTable1); }
 td {padding-left: 5px; padding-right: 5px; vertical-align: top; }
 /* tr.subhead for ElanIndex head letters */
 tr.subhead td, tr.subhead td * { background-color: var(--docHeading); color: white; font-weight: bold; text-align:left; }

/* special tables */
.tableAccordion {
 tr:nth-child(even) td { background-color: var(--docAccord0); }
 tr:nth-child(odd)  td { background-color: var(--docAccord1); }
}

.tableButtons tr {
 height: 25px;
 vertical-align: middle;
}

/* document title */
.docTitle { color:var(--docHeading); font-size:24pt; font-weight:bold;  text-indent:0pt;}

/*index reference to h1 or h2 title in documentation */
el-doc  { font-size:10pt;
 font-weight:bold;
 color: var(--docHeading);
}

/* document table of contents : display as table of h1 and h2*/
#generated-toc {
 display: table;
}
#generated-toc > ul {
  > li:nth-child(even) { background-color: var(--docToc0); }
  > li:nth-child(odd)  { background-color: var(--docToc1); }
}
#generated-toc > ul {
  padding-left: 0px;
}
#generated-toc > ul > li {
  display: table-row;
  border: 2px;
}
#generated-toc > ul > li > a, #generated-toc > ul > li > ul {
  display: table-cell;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  border-color: white;
  border-style:solid;
  vertical-align: top;
}
#generated-toc > ul > li > a {
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
  padding-top: 5px;
}
#generated-toc > ul > li > ul > li {
  display: block;
  float: left;
  padding-right: 20px;
}
/* to hide the 'Skip table of contents' button */
.hidden { visibility: hidden; }

/* Paragraph style  'ListImmutable Paragraph 2'  What was this for? Currently commented out */
/* p.List_Paragraph_2,li.List_Paragraph_2,td.List_Paragraph_2,th.List_Paragraph_2,h1.List_Paragraph_2,h2.List_Paragraph_2,h3.List_Paragraph_2,h4.List_Paragraph_2,h5.List_Paragraph_2,h6.List_Paragraph_2
  { text-indent:-17pt; margin-left:74.5pt; line-height:1.33; } */

/* Acknowledgement box */
p.ack { font-size:8pt; box-sizing: content-box; padding: 5px; border: 3px double; }

/* IDE buttons */
.ibutton {
 border-style: solid;
 border-width: 1.5px;
 padding: 1px;
}

/* code */
el-code, el-code *, el-code-block, el-code-block * {font-family: Consolas, Courier, monospace;}
el-code, el-code-block {color: black} /* This is default - used only when the code is plain text. Overridden when code is marked up with tags*/
el-code-block {display:block; margin-top:12pt; margin-bottom:6pt;}

el-code-block img {
  height: 0.9em;
  margin: 0;
}

/* Links */
a:visited, a:link, a:active {color: var(--docHeading); text-decoration: none; }
a:hover, s {color: var(--docHeading); text-decoration: underline; }

/* This avoids the need to have <el-code> around small snippets*/
el-kw, el-type, el-id, el-method, el-lit, el-comment {
  font-family: consolas, monospace;
  white-space: normal;
}

el-topic {
  font-family:sans-serif;
  color:black;
}

/* Animated accordion and panel  */
.acc-body {
  display: none;
}

.accordion.active > .acc-body {
  display: block;
}

.accordion > .acc-title::before {
  content: "\25bc";
  padding-right: 1.0em;
}

.accordion.active > .acc-title::before {
  content: "\25b2";
  padding-right: 1.0em;
}

.acc-title:focus {
  background-color: var(--selection);
}

body *, code, el-code, el-code-block, el-field {
  user-select: none;
}