* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
p { margin-top:0; margin-bottom:0; line-height:inherit; }

h1,h2,h3,h4,h5,h6
   { color: rgb(15,71,97); margin-top:0; margin-bottom:0; line-height:inherit; font-size:inherit; font-weight:inherit; }
h1 { font-size:28pt; font-weight:bold; text-indent:0pt; margin-top:24pt; margin-bottom:4pt; }
h2 { font-size:20pt; font-weight:bold; text-indent:0pt; margin-top:20pt; margin-bottom:4pt; }
h3 { font-size:14pt; font-weight:bold; text-indent:0pt; margin-top:16pt; margin-bottom:4pt; }
h4 { font-size:12pt; font-weight:bold; text-indent:0pt; margin-top:12pt; margin-bottom:4pt; }
h5 { font-size:12pt; font-weight:bold; text-indent:0pt; margin-top:6pt;  margin-bottom:4pt; }
h6 { font-size:12pt; font-weight:bold; text-indent:15pt; margin-top:0pt; margin-bottom:0pt; }

body { font-size:12pt; margin-left: 20px; text-decoration:none; font-weight:normal; font-style:normal; text-transform:none; color:rgb(0,0,0); text-align:left; line-height:1.33; }
.bold {
  font-weight: bold;
}
p,img,pre,blockquote,address,td,th,li,ul
  { font-size:12pt; text-indent:0pt; margin-bottom:8pt; line-height:1.3; }

/* show sort direction icons in the sortable column headings */
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {content: " \25B4\25BE"}

table
 th, th * {color: white; background-color: rgb(15,71,97)}
 th { text-align:center; margin-top:4pt; margin-bottom:4pt }
 tr { text-align:left; margin-top:4pt; margin-bottom:4pt; }
 tr:nth-child(even) td { background-color: rgb(226, 226, 226); }
 tr:nth-child(odd)  td { background-color: rgb(196, 196, 196); }
 td {padding-left: 5px; padding-right: 5px;}
 tr.x td:nth-child(3) * { color: red; }
 tr.subhead td, tr.subhead td * { background-color: rgb(15,71,97); color: white; font-weight: bold; }

.tableColours td { font-family:monospace; text-align:right; }

/* document title */
.docTitle { color:rgb(15,71,97); font-size:28pt; font-weight:bold;  text-indent:0pt; margin-top:24pt; margin-bottom:4pt; }

/* document table of contents */
.docTOC ul {
  padding-inline-start: 10px;
}
.docTOC ul, .docTOC li { font-size:10pt; font-style:bold; margin-top:-2pt; margin-bottom:-2pt; }
.docTOC div { column-count:5; column-gap:0px; }
.docTOC #generated-toc #toggle-container { column-span: all }

/* to hide 'Skip table of contents' */
.hidden { visibility: hidden; }

/* Paragraph style  'ListImmutable Paragraph 2' */
p.List_Paragraph_2,li.List_Paragraph_2,td.List_Paragraph_2,th.List_Paragraph_2,h1.List_Paragraph_2,h2.List_Paragraph_2,h3.List_Paragraph_2,h4.List_Paragraph_2,h5.List_Paragraph_2,h6.List_Paragraph_2
  { text-indent:-17pt; margin-left:74.5pt; line-height:1.33; }

/* code */
el-code, el-code *, el-code-block, el-code-block * {font-family: Consolas, Courier, monospace;}
el-code, el-code-block {color: rgb(28, 110, 148)}
el-code-block {display:block; margin-top:12pt; margin-bottom:12pt;}

/* Links in index */
a:link {text-decoration: none}
a:visited {text-decoration: none}
a:hover {text-decoration: underline}
a:active {text-decoration: none}
